extends ../layout

block include
  link(rel='apple-touch-icon' sizes='180x180' href='assets/img/favicon_io/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='assets/img/favicon_io/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='assets/img/favicon_io/favicon-16x16.png')
  link(rel='manifest' href='assets/img/favicon_io/site.webmanifest')

  // =============== JQUERY ===============
  script(src='https://code.jquery.com/jquery-3.7.1.min.js')
  // =============== BOXICONS ===============
  link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
  // =============== SWIPER CSS ===============
  link(rel='stylesheet' href='assets/css/swiper-bundle.min.css')
  // =============== CSS PERSO ===============
  link(rel='stylesheet' href='assets/css/styles.css')
  // =============== TYPED ===============
  script(src='assets/js/typed.umd.js')
  // =============== IZIMODAL ===============
  link(rel='stylesheet' href='assets/css/iziModal.css')
  // =============== TIPPYJS ===============
  script(src='https://unpkg.com/@popperjs/core@2')
  script(src='https://unpkg.com/tippy.js@6')
  // =============== HIGHLIGHT ===============
  script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js")

block title
  title Antoine Chabanel - Portfolio

block content
  main.main
    // =============== HOME ===============
    section#home.home
      .home__container.container.grid
        .home__data
          span.home__greeting Bonjour ! Je suis
          h1.home__name Antoine Chabanel
          h3.home__education Étudiant en Informatique appliquée à l'image
          //- .home__buttons
          //-   a.button.button--ghost(href='assets/pdf/resume.pdf')
          //-     | View CV
          //-   a.button(onclick="goTo('about');") About me
          span.home__quote
          script(type="text/javascript").
            var typed = new Typed('.home__quote', {
              strings: [
                "Création de jeux qui ont du sens",
                "Création de jeux qui racontent une histoire",
                "Création de jeux inclusifs",
                "Développement de jeux multiplateformes",
                "Développement C++ multiplateforme",
                "... et bien plus encore !"
                ],
              typeSpeed: 30,
              backSpeed: 20,
              backDelay: 1000,
              smartBackspace: true,
              loop: true,
              cursorChar: '▮',
            });
        .home__handle
          img.about__img(src='assets/img/antoine/antoine-01.png' alt='')
          //lottie-player(src='https://assets4.lottiefiles.com/packages/lf20_0bptkpmg.json' background='transparent' speed='1' style='width: 300px; height: 300px;' loop='' autoplay='')
        .home__social
          a.home__social-link(href='https://www.linkedin.com/in/antoine-chabanel/' target='_blank')
            i.bx.bxl-linkedin-square
          a.home__social-link(href='mailto:antoine.chabanel42@gmail.com' target='_blank')
            i.bx.bx-mail-send
          a.home__social-link(href='https://linktr.ee/antoinechabanel' target='_blank')
            i.bx.bxs-tree
        a.home__scroll(onclick="goTo('about');")
          i.bx.bx-mouse.home__scroll-icon
          span.home__scroll-name Voir plus
    // =============== ABOUT ===============
    section#about.about.section
      span.section__subtitle Introduction
      h2.section__title À propos de moi...
      .about__container.container.grid
        img.about__img(src='assets/img/antoine/antoine-02.webp' alt='')
        .about__data
          //- .about__info
            //- .about__box
            //-   i.bx.bx-award.about__icon
            //-   h3.about__title Experience
            //-   span.about__subtitle 2+ Years
            //- .about__box
            //-   i.bx.bx-briefcase-alt.about__icon
            //-   h3.about__title Completed
            //-   span.about__subtitle 5+ Projects
            //- .about__box
            //-   i.bx.bxl-snapchat.about__icon
            //-   h3.about__title SnapScore
            //-   span.about__subtitle 95,000+
          p.about__description
            | Ce que je préfère quand je commence un projet de nouveau jeu vidéo, c’est d’abord réfléchir aux message(s), direct(s) et/ou caché(s) qu’il va porter, à l’histoire, et surtout au sens et à l’utilité qu’il aura.
          p.about__description
            | Quand il est l’heure de programmer, une fois que les fondations sont posées, ce que j’aime le plus est l’aspect de séparation des préoccupations: une fonctionnalité à la fois !
          p.about__description
            | Les commentaires et les discussions que le jeu peut entraîner sont aussi des aspects importants à mes yeux.
          a.button(href="/files/download/CV") Télécharger mon CV
      // =============== WORK ===============
    section#work.work.section
      #modal
      span.section__subtitle Projets
      h2.section__title Mes travaux récents
      .work__filters
        span.work__item.active-work(data-filter='all') Tout
        span.work__item(data-filter='.videogame') Jeux vidéos
        span.work__item(data-filter='.web') Web
        span.work__item(data-filter='.other') Autres
      .work__container.container.grid
        .work__card.mix.videogame
          img.work__img(src='/assets/img/neocity/neocity-preview-01.gif' alt='')
          h3.work__title NEOCITY 
            i.bx.bx-leaf(style="color: #00b894; font-size: 1.25rem; margin-left: 0.5rem;")
          script(type="text/javascript").
            tippy('.bx-leaf', {
              theme: 'translucent',
              content: 'Numérique responsable',
              placement: 'top',
            });
          p.work__subtitle Création de Neocity: vous incarnez le maire/la mairesse d'une ville en pleine expansion, confrontée aux défis du développement durable et de la préservation de l'environnement.
          a.work__subtitle(href="https://www.linkedin.com/posts/game-only_accessibilitaez-numaezriqueresponsable-jeuvideo-activity-7191793951626956801-RGxt/?utm_source=share&utm_medium=member_desktop" style="text-decoration: underline;" target="_blank") Ce jeu a participé au concours de GameOnly et a décroché la 3ème place.
          .wbtn
            a.work__buttondemo(href='https://www.youtube.com/watch?v=Og4vOZzyFlg' target="_blank")
              | Trailer 
              i.bx.bx-video-recording
            a.work__buttonseemore#Neocity
              | Voir plus 
              i.bx.bx-right-arrow-alt.work__icon
        .work__card.mix.videogame
          img.work__img(src='/assets/img/lastdance/lastdance-preview-01.gif' alt='')
          h3.work__title LAST DANCE
          p.work__subtitle
            | Création de Last Dance, le platformer qui vous embarque dans l'univers de groupes de musique !
          .wbtn
            a.work__buttondemo(href='https://www.youtube.com/watch?v=nLD9zIZTlh0' target="_blank")
              | Trailer 
              i.bx.bx-video-recording
            a.work__buttonseemore#LastDance
              | Voir plus 
              i.bx.bx-right-arrow-alt.work__icon
        .work__card.mix.web
          img.work__img(src='/assets/img/remindr/remindr-preview-01.gif' alt='')
          h3.work__title Remindr
          p.work__subtitle
            | Création d'une application web de rappels partagés entre utilisateurs
          .wbtn
            a.work__buttondemo(href='https://remindr.demo.antoine-chabanel.fr/users/login' target='_blank')
              | Demo 
              i.bx.bx-video-recording
            a.work__buttonseemore#Remindr
              | Voir plus 
              i.bx.bx-right-arrow-alt.work__icon
        .work__card.mix.other
          img.work__img(src='/assets/img/titanium/titanium-preview-01.gif' alt='')
          h3.work__title Titanium
          p.work__subtitle
            | Création et administration de Titanium: serveur Minecraft de type Skyblock ouvert de 2018 à 2020.
          .wbtn
            a.work__buttondemo(href='https://www.youtube.com/watch?v=GQBilaLL39E' target='_blank')
              | Visite guidée 
              i.bx.bx-video-recording
            a.work__buttonseemore#Titanium
              | Voir plus 
              i.bx.bx-right-arrow-alt.work__icon

    //- .fll
    //-   a.button(href='/projects') Voir plus
    //- // =============== SKILLS ===============
    //- section#skills.skills.section
    //-   span.section__subtitle My abilities
    //-   h2.section__title My Experience
    //-   .skills__container.container.grid
    //-     .skills__content
    //-       h3.skills__title Fontend
    //-       .skills__box
    //-         .skills__groups
    //-           .skills__data
    //-             i.bx.bxs-badge-check
    //-             div
    //-               h3.skills__name HTML
    //-               span.skills__level Expert
    //-           .skills__data
    //-             i.bx.bxs-badge-check
    //-             div
    //-               h3.skills__name CSS
    //-               span.skills__level Expert
    //-           .skills__data
    //-             i.bx.bxs-badge-check
    //-             div
    //-               h3.skills__name JavaScript
    //-               span.skills__level Intermediate
    //-         .skills__groups
    //-           .skills__data
    //-             i.bx.bxs-badge-check
    //-             div
    //-               h3.skills__name Git
    //-               span.skills__level Expert
    //-           .skills__data
    //-             i.bx.bxs-badge-check
    //-             div
    //-               h3.skills__name React
    //-               span.skills__level Beginner
    //-           .skills__data
    //-             i.bx.bxs-badge-check
    //-             div
    //-               h3.skills__name React Native
    //-               span.skills__level Beginner
    //-     .skills__content
    //-       h3.skills__title Backend
    //-       .skills__box
    //-         .skills__groups
    //-           .skills__data
    //-             i.bx.bxs-badge-check
    //-             div
    //-               h3.skills__name Node JS
    //-               span.skills__level Intermediate
    //-           .skills__data
    //-             i.bx.bxs-badge-check
    //-             div
    //-               h3.skills__name Flask
    //-               span.skills__level Intermediate
    //-           .skills__data
    //-             i.bx.bxs-badge-check
    //-             div
    //-               h3.skills__name MySQL
    //-               span.skills__level Intermediate
    //-         .skills__groups
    //-           .skills__data
    //-             i.bx.bxs-badge-check
    //-             div
    //-               h3.skills__name Firebase
    //-               span.skills__level Beginner
    //-           .skills__data
    //-             i.bx.bxs-badge-check
    //-             div
    //-               h3.skills__name Python
    //-               span.skills__level Intermediate
    //-           .skills__data
    //-             i.bx.bxs-badge-check
    //-             div
    //-               h3.skills__name C++
    //-               span.skills__level Intermediate
    // =============== TESTIMONIALS ===============
    //- section#testimonial.testimonial.section
    //-   span.section__subtitle My clients say
    //-   h2.section__title Testimonial
    //-   .testimonial__container.container.swiper
    //-     .swiper-wrapper
    //-       .testimonial__card.swiper-slide
    //-         img.testimonial__img(src='assets/img/testimonial(4).png' alt='')
    //-         h3.testimonial__name Shubham Maurya
    //-         p.testimonial__description
    //-           | Literally, i was not expecting but after he finished the project i was blown away...
    //-       .testimonial__card.swiper-slide
    //-         img.testimonial__img(src='assets/img/testimonial(5).png' alt='')
    //-         h3.testimonial__name Ishika Mamgain
    //-         p.testimonial__description
    //-           | Very limited time was left for the deadline but Vaibhav finished it on time
    //-       .testimonial__card.swiper-slide
    //-         img.testimonial__img(src='assets/img/testimonial(1).png' alt='')
    //-         h3.testimonial__name Suraj Manwal
    //-         p.testimonial__description
    //-           | Bete moj krdi. Waah bete waah Moj krdi
    //-       .testimonial__card.swiper-slide
    //-         img.testimonial__img(src='assets/img/testimonial(2).png' alt='')
    //-         h3.testimonial__name Lokesh Rawat
    //-         p.testimonial__description
    //-           | Expecting to work together again. It fun working with you, learned a lot of things
    //-       .testimonial__card.swiper-slide
    //-         img.testimonial__img(src='assets/img/testimonial(3).png' alt='')
    //-         h3.testimonial__name Mr. A.J Vishwkarma
    //-         p.testimonial__description
    //-           | This bro Rocks🤘  My google for all my questions. He helps me a lot, Thankyou...
        .swiper-pagination
    // =============== CONTACT ===============
    section#contact.contact.section
      span.section__subtitle Informations de contact
      h2.section__title Pour en savoir plus, vous pouvez me contacter:
      .contact__container.container.grid
        .contact__content
          .contact__info
            .contact__card
              i.bx.bx-mail-send.contact__card-icon
              h3.contact__card-title Par mail
              span.contact__card-data antoine.chabanel42@gmail.com
              a.contact__button(href='mailto:antoine.chabanel42@gmail.com' target='_blank')
                | Écrivez-moi
                i.bx.bx-right-arrow-alt.contact__button-icon
            .contact__card
              i.bx.bxl-linkedin-square
              h3.contact__card-title Par message LinkedIn
              span.contact__card-data https://www.linkedin.com/in/antoine-chabanel/
              a.contact__button(href='https://www.linkedin.com/in/antoine-chabanel/' target='_blank')
                | Message privé
                i.bx.bx-right-arrow-alt.contact__button-icon
            //- .contact__card
            //-   i.bx.bxl-whatsapp.contact__card-icon
            //-   h3.contact__card-title WhatsApp
            //-   span.contact__card-data (kindly mail or SC)
            //-   a.contact__button(href='' target='_blank')
            //-     | write me 
            //-     i.bx.bx-right-arrow-alt.contact__button-icon
        //- .contact__content
        //-   h3.contact__title Write me your thaughts
        //-   form.contact__form(action='')
        //-     .contact__form-div
        //-       label.contact__form-tag(for='') Name
        //-       input.contact__form-input(type='text' placeholder='Insert your name')
        //-     .contact__form-div
        //-       label.contact__form-tag(for='') Mail
        //-       input.contact__form-input(type='email' placeholder='Insert your email')
        //-     .contact__form-div.contact__form-area
        //-       label.contact__form-tag(for='') Message
        //-       textarea.contact__form-input(name='' id='' cols='30' rows='10' placeholder='Write your message')
        //-     button.button Send Message
  //Scripts
  // =============== IZIMODAL ===============
  script(src='assets/js/iziModal.min.js')

block scripts
  // =============== SCROLLREVEAL ===============
  script(src='assets/js/scrollreveal.min.js')
  // =============== SWIPER JS ===============
  script(src='assets/js/swiper-bundle.min.js')
  // =============== MIXITUP FILTER ===============
  script(src='assets/js/mixitup.min.js')
  // =============== MAIN JS ===============
  script(src='assets/js/main.js')
