doctype html
head
    link(rel="stylesheet", href="assets/css/styles_project_about.css")
    script(type="text/javascript").
        tippy('#design-pattern', {
            theme: 'translucent',
            content: 'Un design pattern est une solution générale réutilisable à un problème qui se présente souvent lors de la conception de logiciels.',
            placement: 'top',
        });


main.main