doctype html
head
    link(rel="stylesheet", href="assets/css/styles_project_about.css")
    script(type="text/javascript").
        tippy('#design-pattern', {
            theme: 'translucent',
            content: 'Un design pattern est une solution générale réutilisable à un problème qui se présente souvent lors de la conception de logiciels.',
            placement: 'top',
        });
        tippy('#state-machine', {
            theme: 'translucent',
            content: 'Cela représente l\'état dans lequel se trouve un objet à un moment donné, et les transitions possibles vers d\'autres états.',
            placement: 'top',
        });
        tippy('#class', {
            theme: 'translucent',
            content: 'Une classe est un modèle qui définit les variables et les méthodes communes à tous les objets d\'un certain type.',
            placement: 'top',
        });
        tippy('#unity', {
            theme: 'translucent',
            content: 'Unity est un moteur de jeu multiplateforme développé par Unity Technologies.',
            placement: 'top',
        });
        tippy('#c-sharp', {
            theme: 'translucent',
            content: 'C# est un langage de programmation orienté objet développé par Microsoft.',
            placement: 'top',
        });
        tippy('#visual-paradigm', {
            theme: 'translucent',
            content: 'Visual Paradigm est un logiciel de modélisation de diagrammes UML.',
            placement: 'top',
        });
        tippy('#blender', {
            theme: 'translucent',
            content: 'Blender est un logiciel de modélisation 3D.',
            placement: 'top',
        });
        tippy('#git', {
            theme: 'translucent',
            content: 'Git est un logiciel de gestion de versions décentralisé.',
            placement: 'top',
        });
        tippy('#gitlab', {
            theme: 'translucent',
            content: 'Gitlab est une plateforme de développement logiciel qui fournit des outils pour la gestion de code source, l\'intégration/déploiement continu.',
            placement: 'top',
        });
        tippy('#visual-studio', {
            theme: 'translucent',
            content: 'Visual Studio est un IDE développé par Microsoft compatible avec C sharp.',
            placement: 'top',
        });
        tippy('#urp', {
            theme: 'translucent',
            content: 'Universal Render Pipeline est le pipeline de rendu le plus léger en ressources proposé par Unity.',
            placement: 'top',
        });

main.main
    h1.page-title.project_about_h1 Bientôt plus à venir à propos de ce projet.
    iframe.project_about_youtubeintegration(width="560" height="315" src="https://www.youtube.com/embed/nLD9zIZTlh0?si=crLnz_qzNXZlpayC" title="Last Dance (trailer)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)