extends ../layout

block content
    | test

block scripts
    // =============== SCROLLREVEAL ===============
    script(src='assets/js/scrollreveal.min.js')
    // =============== MAIN JS ===============
    script(src='assets/js/mainProjects.js')