doctype html
head
    link(rel="stylesheet", href="assets/css/styles_project_about.css")
    script(type="text/javascript").
        tippy('#design-pattern', {
            theme: 'translucent',
            content: 'Un design pattern est une solution générale réutilisable à un problème qui se présente souvent lors de la conception de logiciels.',
            placement: 'top',
        });


main.main
    h1.page-title.project_about_h1 Titanium
    p.page-description.project_about_p
        strong Titanium est un serveur Minecraft communautaire (serveur sur lequel les joueurs peuvent se connecter et jouer à un/des jeux/mini-jeux) ouvert à partir de l’été 2018 jusqu’en 2020.
        | C’était un serveur comprenant le mode de jeu Skyblock
        | (le joueur/la joueuse-tout.e seul.e ou avec des amis.es-commence sur une petite île dans les airs avec peu de ressources et évolue pour agrandir son île)
    .iframe(width="560" height="315" src="https://www.youtube.com/embed/GQBilaLL39E?si=_IEO8UmFMjRiNmCW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)