doctype html
head
    link(rel="stylesheet", href="assets/css/styles_project_about.css")
    script(type="text/javascript").
        tippy('#design-pattern', {
            theme: 'translucent',
            content: 'Un design pattern est une solution générale réutilisable à un problème qui se présente souvent lors de la conception de logiciels.',
            placement: 'top',
        });
        tippy('#state-machine', {
            theme: 'translucent',
            content: 'Cela représente l\'état dans lequel se trouve un objet à un moment donné, et les transitions possibles vers d\'autres états.',
            placement: 'top',
        });
        tippy('#class', {
            theme: 'translucent',
            content: 'Une classe est un modèle qui définit les variables et les méthodes communes à tous les objets d\'un certain type.',
            placement: 'top',
        });
        tippy('#unity', {
            theme: 'translucent',
            content: 'Unity est un moteur de jeu multiplateforme développé par Unity Technologies.',
            placement: 'top',
        });
        tippy('#c-sharp', {
            theme: 'translucent',
            content: 'C# est un langage de programmation orienté objet développé par Microsoft.',
            placement: 'top',
        });
        tippy('#visual-paradigm', {
            theme: 'translucent',
            content: 'Visual Paradigm est un logiciel de modélisation de diagrammes UML.',
            placement: 'top',
        });
        tippy('#blender', {
            theme: 'translucent',
            content: 'Blender est un logiciel de modélisation 3D.',
            placement: 'top',
        });
        tippy('#git', {
            theme: 'translucent',
            content: 'Git est un logiciel de gestion de versions décentralisé.',
            placement: 'top',
        });
        tippy('#gitlab', {
            theme: 'translucent',
            content: 'Gitlab est une plateforme de développement logiciel qui fournit des outils pour la gestion de code source, l\'intégration/déploiement continu.',
            placement: 'top',
        });
        tippy('#visual-studio', {
            theme: 'translucent',
            content: 'Visual Studio est un IDE développé par Microsoft compatible avec C sharp.',
            placement: 'top',
        });
        tippy('#urp', {
            theme: 'translucent',
            content: 'Universal Render Pipeline est le pipeline de rendu le plus léger en ressources proposé par Unity.',
            placement: 'top',
        });

main.main
    h1.page-title.project_about_h1 Neocity
    p.page-description.project_about_p
        strong Dans Neocity, vous incarnez le maire/la mairesse d'une ville en pleine expansion.
        br
        | Vous disposez de trois types de bâtiments de base pour agrandir votre ville: les lieux de travail, les lieux de résidence, et les loisirs.
        br
        | Vous devez garder un œil sur vos statistiques (ressources, humeur des habitants.es, CO2 émis) en agençant les bâtiments intelligemment et en faisant des choix politiques, afin d’éviter les catastrophes naturelles et le malheur des habitants.es.
        br
    p.project_about_p
        a.project_about_a(href="https://www.linkedin.com/posts/game-only_accessibilitaez-numaezriqueresponsable-jeuvideo-activity-7191793951626956801-RGxt/?utm_source=share&utm_medium=member_desktop" target="_blank") Ce jeu a participé au concours de GameOnly sur LinkedIn et a décroché la 3ème place.
    img(src="assets/img/neocity/neocity-preview-01.gif", alt="Gif du trailer de Neocity", class="project_about_gif", href="assets/img/neocity/neocity-preview-01.gif", target="_blank")
    h2.project_about_h2 Contexte
    p.project_about_p
        strong J’ai réalisé ce projet dans le cadre du projet tuteuré de l’année scolaire 2023-2024, pour le BUT Informatique orienté Imagerie Numérique. Le sujet était simple: faire un jeu-vidéo écologiquement conçu, en 3 semaines. J’ai travaillé en collaboration avec trois camarades de classe: Hugo Faveyrial, Baptiste Tarrit, et Quentin Lorenzo.
    h3.project_about_h3 8-11 janvier 2024: Conception originale
    p.project_about_p Nous avons d’abord voulu décider du type de jeu que nous voulions créer: nous ne voulions pas faire quelque chose de classique, donc nous sommes tombés d’accord sur le thème du City Builder: un type de jeu vidéo dans lequel le joueur/la joueuse a pour objectif de construire et gérer une ville/civilisation.
    p.project_about_p Nous avons ensuite réfléchi au but et au sens de notre jeu: nous voulions mettre l’accent sur les problématiques environnementales, car cela est un sujet urgent et ayant de l’importance à nos yeux. Le jeu étant un City Builder, l’exercice était de sensibiliser les joueurs.euses sur ces problématiques, tout en ayant pour résultat un jeu jouable, facile à comprendre et amusant.
    p.project_about_p Après avoir réfléchi au mécanismes principaux du jeu, nous nous sommes lancés dans la conception objet du jeu: le but était de séparer au maximum les préoccupations, et éviter les dépendances entre les différentes parties du programme, pour pouvoir travailler efficacement dans le temps imparti.
    p.project_about_p Je me suis aussi occupé de l’hébergement du projet Git avec 
        a.project_about_a(href="https://gitlab.com" target="_blank" id="gitlab") Gitlab 
            span(style="font-size: smaller; vertical-align: super;") &#9432;
        | sur mon serveur Linux.
    h3.project_about_h3 11-23 janvier: Le plus gros du développement
    p.project_about_p Après avoir longuement réfléchi sur le but et les mécanismes du jeu, nous avons commencé à programmer.
    p.project_about_p Dans Neocity, les bâtiments sont organisés selon un système de plateau en deux dimensions. Un bâtiment peut occuper une ou plusieurs cases. Certaines zones sont inaccessibles par défaut et peuvent être débloquées par le joueur plus tard.
        br
        | Tandis que mes camarades travaillaient sur l’IU, la sauvegarde, et les statistiques, je me suis occupé de programmer les bases de ce plateau de jeu, en respectant les 
        a.project_about_a(href="https://fr.wikipedia.org/wiki/Patron_de_conception" target="_blank" id="design-pattern") design patterns
            span(style="font-size: smaller; vertical-align: super;") &#9432; 
        br
        | et en général la conception que nous nous étions imposée.
    p.project_about_p J’ai aussi travaillé sur l’intégration de la manette, le menu, les cameras, les états du jeu (
        a.project_about_a(href="https://gamedevbeginner.com/state-machines-in-unity-how-and-when-to-use-them/" target="_blank" id="state-machine" ) State Machine Wikipedia
            span(style="font-size: smaller; vertical-align: super;") &#9432;
        | ), l’intégration de la musique, la lumière, 
        a.project_about_a(href="https://fr.wikipedia.org/wiki/Classe_(informatique)" target="_blank" id="class") les classes
            span(style="font-size: smaller; vertical-align: super;") &#9432; 
        | de base du jeu, les évènements…
    img(src="assets/img/neocity/neocity-gameplay-01.png", alt="Gameplay Neocity 1", class="project_about_img", href="assets/img/neocity/neocity-gameplay-01.png", target="_blank")
    img(src="assets/img/neocity/neocity-gameplay-02.png", alt="Gameplay Neocity 2", class="project_about_img", href="assets/img/neocity/neocity-gameplay-02.png", target="_blank")
    img(src="assets/img/neocity/neocity-gameplay-03.png", alt="Gameplay Neocity 3", class="project_about_img", href="assets/img/neocity/neocity-gameplay-03.png", target="_blank")
    h3.project_about_h3 Jusqu’en avril 2024: Correction de bugs, ajout des réformes et des catastrophes naturelles 
    p.project_about_p Nous avons eu l’occasion de “peaufiner” notre projet avant la présentation et le rendu finaux. 
        br
        | Nous avions reçu des commentaires nous indiquant que l’enjeu du dérèglement climatique dans nos statistiques était encore flou: nous avons donc décidé de rajouter des catastrophes naturelles dans le jeu (tempête, inondation, canicule) qui sont plus parlantes, ainsi qu’un didacticiel.
        br
        | Nous avons aussi rajouté des réformes (plus de vélos, repas végétariens, covoiturage…) disponible à chaque amélioration de l’Hôtel de ville (bâtiment principal de la ville)
        br
    p.project_about_p Personnellement, dans cette période, j’ai été polyvalent: Implémentation des catastrophes et créations des animations/VFX, résolution de bugs sur tout les aspects du jeu, préparation à la première release…
    h2.project_about_h2 Technologies utilisées
    p.project_about_p Nous avons utilisé différents logiciels, technologies, et langages pour développer Neocity
    ul.bulleted-list.project_about_li
        li(style="list-style-type:disc")
            a.project_about_a(href="https://unity.com" target="_blank" id="unity") Unity
                span(style="font-size: smaller; vertical-align: super;") &#9432;
    ul.bulleted-list.project_about_li
        li(style="list-style-type:disc")
            a.project_about_a(href="https://fr.wikipedia.org/wiki/C_Sharp" target="_blank" id="c-sharp") C#
                span(style="font-size: smaller; vertical-align: super;") &#9432;
    ul.bulleted-list.project_about_li
        li(style="list-style-type:disc")
            a.project_about_a(href="https://visualstudio.microsoft.com" target="_blank" id="visual-studio") Visual Studio
                span(style="font-size: smaller; vertical-align: super;") &#9432;
            | (un 
            a.project_about_a(href="https://fr.wikipedia.org/wiki/Environnement_de_développement" target="_blank") IDE 
            | compatible avec C#)
    ul.bulleted-list.project_about_li
        li(style="list-style-type:disc")
            a.project_about_a(href="https://www.visual-paradigm.com" target="_blank" id="visual-paradigm") Visual Paradigm
                span(style="font-size: smaller; vertical-align: super;") &#9432;
    ul.bulleted-list.project_about_li
        li(style="list-style-type:disc")
            a.project_about_a(href="https://fr.wikipedia.org/wiki/Blender" target="_blank" id="blender") Blender
                span(style="font-size: smaller; vertical-align: super;") &#9432;
    ul.bulleted-list.project_about_li
        li(style="list-style-type:disc")
            a.project_about_a(href="https://git-scm.com" target="_blank" id="git") Git
                span(style="font-size: smaller; vertical-align: super;") &#9432;
    ul.bulleted-list.project_about_li
        li(style="list-style-type:disc")
            a.project_about_a(href="https://about.gitlab.com" target="_blank" id="gitlab") Gitlab (hébergé)
                span(style="font-size: smaller; vertical-align: super;") &#9432;
    h2.project_about_h2 Partis pris: numérique responsable…
    p.project_about_p Le numérique responsable est un terme vaste qui comprend non seulement des problématiques environnementales mais aussi sociales et éthiques.
    p.project_about_p Neocity se veut d’être un jeu qui aborde des questions environnementales (comme les émissions de gaz à effet de serre). Le joueur/la joueuse voit ses choix avoir un impact sur l’environnement, et est contraint de construire sa ville de façon à réduire la pollution: cela encourage à la réflexion sur ces enjeux. 
        br
        | Nous voulions représenter les principaux pôles de pollution générés par notre mode de vie:
        br
    ul.bulleted-list.project_about_li
        li(style="list-style-type:disc") Les déplacements (plus les habitants doivent se déplacer, plus la ville devient polluée)
    ul.bulleted-list.project_about_li
        li(style="list-style-type:disc") L’alimentation (œuvrer pour une alimentation plus responsable donne un bonus)
    ul.bulleted-list.project_about_li
        li(style="list-style-type:disc") Le logement (améliorer la qualité des logements fait en sorte que ceux-ci polluent moins)
    ul.bulleted-list.project_about_li
        li(style="list-style-type:disc") Dépenses (les loisirs sont représentés dans le jeu et permettent d’améliorer le bonheur)
    video(controls controlslist="nodownload noremoteplayback" preload="metadata" loop muted src="assets/videos/neocity/neocity-menu-01.webm", alt="Vidéo du menu de Neocity", class="project_about_video", type="video/webm")
    h2.project_about_h2 …et accessibilité…
    p.project_about_p Aussi, le but principal affiché d’avoir intégré le support manette à Neocity était de garantir une expérience fluide aux joueurs.es en situation de handicap moteur, qui peuvent utiliser des technologies telles que le “Xbox adaptive controller” pour émuler une manette, et ainsi pouvoir jouer au jeu.
    p.project_about_p Enfin, nous avons utilisé le pipeline de rendu “Universal Render Pipeline (URP)” (
        a.project_about_a(href="https://unity.com/srp/universal-render-pipeline" target="_blank" id="urp") Universal Render Pipeline 
            span(style="font-size: smaller; vertical-align: super;") &#9432;
        | ), le pipeline le moins énergivore pour permettre au plus de monde possible de jouer à Neocity, peu importe la plateforme ou la configuration matérielle. Nous avons prévu d’adapter le jeu sur mobile.
        br
        | Nous avons aussi décider d’adopter le style Low Poly pour alléger la charge de travail du processeur graphique (GPU).
        br
    h2.project_about_h2 …Pourquoi ? Démarche réflexive
    p.project_about_p Le but principal de Neocity est de chercher à combiner deux aspects:
    ul.bulleted-list.project_about_li
        li(style="list-style-type:disc") Un jeu conçu pour éviter trop de charge matérielle
    ul.bulleted-list.project_about_li
        li(style="list-style-type:disc") La représentation du sujet de l’écologie.
    p.project_about_p Pour n’importe quels sujet/luttes, la 
        strong représentation 
        | dans des supports tels que des jeux est aussi importante que “coder vert” car elle amène
    p.project_about_p Ce jeu était le premier City Builder sur lequel j’ai travaillé. Un objectif était de parler tout en restant un jeu simple à prendre en main et à comprendre et amusant pour tout le monde. 
    p.project_about_p Ce serait mentir de dire que le choix de Unity/C# est le choix le plus léger, et nous en sommes tout à fait conscients, c’est pour cela que nous avons pris des décisions pour réduire son coût en énergie comme utiliser URP et adopter le style Low Poly, ce qui permet au final d’avoir un jeu jouable même sur de très vieilles configurations.
    p.project_about_p En plus des compétences techniques acquises, ce jeu m’a montré à quel point les retours des personnes qui le testent ainsi que les discussions entre ceux qui le créent sont importantes: nous n’étions pas d’accord sur quels angles aborder pour traiter le sujet de l’écologie: nous avons donc amélioré le jeu en modifiant le système de statistiques et en rajoutant les catastrophes.
    p.project_about_p Mon rôle dans ce projet aura été développeur polyvalent: je me suis penché sur beaucoup d’aspects du jeu, que ce soit de zéro ou sur l’amélioration de fonctionnalité existantes.
